<center><img src="MKn_Staffelter_Hof.jpeg" alt="Picture of old business"</center>
<!--Image Credit: Martin Kraft https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg -->

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

## The Data
`data/businesses.csv` and `data/new_businesses.csv`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|

`data/countries.csv`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|

`data/categories.csv`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

In [1]:
# Import necessary libraries
import pandas as pd

# Load the data
businesses = pd.read_csv("data/businesses.csv")
new_businesses = pd.read_csv("data/new_businesses.csv")
countries = pd.read_csv("data/countries.csv")
categories = pd.read_csv("data/categories.csv")

In [6]:
# Start coding here!
# 1. What is the oldest business on each continent? Save your answer as a DataFrame called oldest_business_continent with four columns: continent, country, business, and year_founded in any order.

continent_businesses = businesses.merge(countries, on='country_code')
continent_businesses

,business,year_founded,category_code,country_code,country,continent
0,Hamoud Boualem,1878,CAT11,DZA,Algeria,Africa
1,Communauté Électrique du Bénin,1968,CAT10,BEN,Benin,Africa
2,Botswana Meat Commission,1965,CAT1,BWA,Botswana,Africa
3,Air Burkina,1967,CAT2,BFA,Burkina Faso,Africa
4,Brarudi,1955,CAT9,BDI,Burundi,Africa
...,...,...,...,...,...,...
158,Cafe Brasilero,1877,CAT4,URY,Uruguay,South America
159,Hacienda Chuao,1660,CAT11,VEN,"Venezuela, Bolivarian Republic of",South America
160,Australia Post,1809,CAT16,AUS,Australia,Oceania
161,Bank of New Zealand,1861,CAT3,NZL,New Zealand,Oceania
162,European Trust Company,1991,CAT3,VUT,Vanuatu,Oceania

In [ ]:
# 2. How many countries per continent lack data on the oldest businesses? Does including new_businesses change this? Count the number of countries per continent missing business data, including new_businesses, and store the results in a DataFrame named count_missing with columns for the continent and the count.

In [ ]:
# 3. Which business categories are best suited to last many years, and on what continent are they? Create a DataFrame called oldest_by_continent_category that stores the oldest founding year for each continent and category combination. It should contain three columns: continent, category, and year_founded, in that order.